.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 32px;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #111;
}

/* LINKS */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #000;
}

/* AUTH */
.navbar-auth {
  display: flex;
  align-items: center;
}

.navbar-auth button {
  background-color: transparent;
  color: #6c63ff;
  border: 2px solid #6c63ff;
  padding: 6px 16px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar-auth button:hover {
  background-color: #6c63ff;
  color: white;
}
